@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Fitness Plan";
}

@model Capstone.Models.FitnessPlanViewModel

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="block" style="width: 40vh; height: 45vh; margin-top: 20%; margin-left: 70vh">
        <div style="z-index: 10000001;" class="floating-div">
            <div>
                <div>Your Fitness Plan</div>
                <div class="user-circle-profile-div">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div>
                <!-- Button to trigger the AJAX request -->
                <button id="getFitnessPlanButton">Get Fitness Plan</button>
            </div>
            <div id="fitnessPlan"></div> <!-- Container for displaying the fitness plan -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#getFitnessPlanButton").click(function () {
                console.log("Button clicked");

                $.ajax({
                    url: "@Url.Action("GetFitnessPlan", "FitnessPlan")",
                    type: "POST",
                    data: {
                        time: 30,
                        equipment: "dumbells",
                        muscle: "biceps",
                        fitness_level: "expert",
                        fitness_goals: "strength"
                    },
                    success: function (response) {
                        console.log("Fitness plan retrieved:", response);

                        // Parse the JSON response
                        var planData = JSON.parse(response.plan);

                        // Construct the readable text for the fitness plan
                        var fitnessPlanText = "<strong>Warm Up:</strong><br>";
                        planData['Warm Up'].forEach(function (warmUpExercise) {
                            fitnessPlanText += "- " + warmUpExercise.Exercise + ": " + warmUpExercise.Time + "<br>";
                        });

                        fitnessPlanText += "<br><strong>Exercises:</strong><br>";
                        planData.Exercises.forEach(function (exercise) {
                            fitnessPlanText += "- " + exercise.Exercise + ": " + exercise.Sets + ", " + exercise.Reps + "<br>";
                        });

                        fitnessPlanText += "<br><strong>Cool Down:</strong><br>";
                        planData['Cool Down'].forEach(function (coolDownExercise) {
                            fitnessPlanText += "- " + coolDownExercise.Exercise + ": " + coolDownExercise.Time + "<br>";
                        });

                        // Display the fitness plan text in the HTML element
                        $("#fitnessPlan").html(fitnessPlanText);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error retrieving fitness plan:", error);
                        // Perform any error handling (e.g., show error message)
                    }
                });
            });
        });
    </script>
</body>

</html>
